body {
  min-width: 350px;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  font-size: var(--font-size-base);
}

.header {
  background-color: var(--primary-color);
  padding: var(--spacing-medium);
  text-align: center;
  color: var(--text-color);
}

.main {
  padding: var(--spacing-large);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.section {
  max-height: 350px;
  background: white;
  padding: 0 var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  position: relative;
}
.section__header {
  background-color: white;
  padding: var(--spacing-medium) 0;
  position: sticky;
  left: 0;
  top: 0;
}

.section__title {
  color: var(--secondary-color);
  margin-bottom: var(--spacing-small);
}

.button {
  width: 120px;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: var(--spacing-small) var(--spacing-medium);
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.button:hover {
  background-color: #fff;
  color: var(--accent-color);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--spacing-medium);
}

.table__header {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: var(--spacing-small);
  text-align: left;
}

.table__body tr:nth-child(even) {
  background-color: var(--table-accent-color);
}

.table__body td {
  max-width: 25%;
  padding: var(--spacing-small);
  border-bottom: 1px solid #ddd;
}

.action-buttons__container {
  display: flex;
  gap: var(--spacing-small);
}
.action-buttons__container > button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 180px;
  transition: all 0.2s ease;
}
.action-buttons__container > button:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
}

@media (max-width: 768px) {
  .main {
    padding: var(--spacing-medium);
  }

  .section {
    padding: 0 var(--spacing-small) var(--spacing-small) var(--spacing-small);
  }
  .table__body td {
    font-size: var(--font-size-small);
  }
}
@media screen and (max-width: 600px) {
  .section__title {
    font-size: var(--font-size-base);
  }
  .button {
    height: 32px;
    padding: 0;
    font-size: var(--font-size-small);
  }
  .table__body td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .action-buttons__container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .action-buttons__container > button {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 460px) {
  .button {
    width: 100px;
  }
  .table__body td {
    font-size: var(--font-size-x-small);
    line-break: anywhere;
  }
}

@media screen and (max-width: 460px) {
  .table__body td {
    line-break: anywhere;
  }
  .table__header {
    font-size: var(--font-size-small);
  }
}
