/* Define CSS Variables */
:root {
  /* Colors */
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --table-accent-color: #efefef;
  --accent-color: #3498db;
  --text-color: #ecf0f1;
  --background-color: #f5f5f5;

  /* Border */
  --border-radius: 8px;

  /* Transition */
  --transition-speed: 0.2s;

  /* Font size */
  --font-size-x-small: 0.5rem;
  --font-size-small: 0.75rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 3rem;
  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-x-large: 4rem;

  --table-header-background-color: var(--secondary-color);
  --table-row-alt-background-color: #f9f9f9;
}
